@charset "UTF-8";

@font-face {
    font-family: "squid";
    src: url(fonts/Game\ Of\ Squids.otf);
}

@keyframes animationPulsate {
    0% {
        text-shadow: 0 0 10px var(--cyan);
    }
    1% {
        text-shadow: 0 0 20px black;
        color: var(--cyan);
    }
    99% {
        text-shadow: 0 0 20px black;
        color: var(--cyan);
    }
    100% {
        text-shadow: 0 0 10px var(--cyan);
        color: black;
    }
}

:root {
    --bg: black;
    --blue: #4612B5;
    --blueviolet: #7913BF;
    --violet: #961AA8;
    --redviolet: #BF1393;
    --red: #B5123A;
    --cyan: #00d5ff;
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: "squid";
}

html, body {
    background-color: black;
    width: 100%; min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    background: black url(images/gabriel-perez-QkvIvL8wYuw-unsplash.jpg) bottom center/cover fixed no-repeat;
}

.header-menubar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.515);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.103);
}

.header-menubar a {
    text-decoration: none;
    color: black;
    text-shadow: 0 0 4px var(--cyan);
}

.header-menubar a:hover {
    animation: animationPulsate 50s infinite;
}

.header-menubar #logo{
    font-size: 3em;
}

.header-menubar ul {
    display: flex;
    list-style: none;
    gap: 75px;
    font-size: 2em;
    padding-bottom: 10px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, black, transparent, transparent, transparent);
}

.header-title {
    color: black;
    text-shadow: 0 0 10px var(--cyan);
    transform: translateY(-40px)
}

.header-title > h1 {
    font-size: 4em;
    font-weight: 800;
}

.header-title > h2 {
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    text-shadow: 0 0 10px var(--cyan);
}

.social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-shadow: 0px 0px 50px 50px black;
}

main {
    padding: 10px;
    width: 100%;
    margin: auto;
    background-image: url(images/ryiin-c-t7w4NnjOwDk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-content {
    width: 60vw;
    margin: auto;
}

.main-content h2 {
    font-size: 4em;
    line-height: 2em;
    border-bottom: 2px solid var(--redviolet);
    margin-bottom: 20px;
}

.main-content p {
    border-radius: 10px;
    padding: 20px;
    line-height: 1.5em;
    font-size: 1.15em;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: #ebc9e2;
    text-shadow: 0 0 2px black;
    background-color: rgba(0, 0, 0, 0.745);
}

.main-content span {
    color: #BF1393;
}

.main-content > section {
    border: 2px solid black;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 100px;
}

.content-2020 {
    background-image: url(images/1.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content-2021 {
    background-image: url(images/2.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content-2022 {
    background-image: url(images/4.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    width: 100%;
    padding-top: 7px;
    color: white;
    text-align: center;
    background-color: #22051d;
}

footer > p {
    background-color: rgba(0, 0, 0, 0.718);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.815);
    width: 100%;
    padding: 3px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    animation: animationPulsate 50s infinite;
}

@media only screen and (max-width: 850px) {

    .header-title > h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 740px) {

    .header-title > h1 {
        font-size: 7vw;
        text-align: center;
    }
    .header-title > h2 {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 620px) {

    .header-menubar {
        flex-direction: column;
    }

    .main-content {
        width: 100%;
        margin: 0;
    }

    main {
        padding: 0;
        background-image: linear-gradient(to right, black, black)
    }

    .main-content > section {
        margin-top: 0;
        border: 1px solid black;
    }
}

@media only screen and (max-width: 500px) {

    .social-medias {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .header-menubar ul {
        gap: 10vw;
    }
}

@media only screen and (max-width: 390px) {
    .header-title > h1 {
        font-size: 10vw;
        text-align: center;
        margin: 30px;
    }
}